* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
a {
    color: inherit;
    text-decoration: none;
}
.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 3;
}
.container div {
     /* border: 1px solid black;   */
     padding: 5px; 
}
.first-content img {
    width: 40px;
    display: block;
    filter: invert(1) brightness(2);
}
.middle-content img {
    width: 30px;
    display: block;
    filter: invert(1) brightness(2);
}
.last-content img {
    width: 30px;
    display: block;
    filter: invert(1) brightness(2);
}
.sidebar {
    display: grid;
    grid-row: 1 / span 2;
    background-color: #1F2937;
}
.first-content   {
    display: grid;
    justify-content: start;
    margin-bottom: 20px;
}
.middle-content{
    display: grid;
    justify-content: start;
    margin-bottom: 10px;
}
.last-content {
    display: grid;
    justify-content: start;
}
.dashboard-img {
    display: flex;
    align-items: center;
    gap: 10px;
}
.dashboard-img p {
    font-family: "Roboto", sans-serif;
    font-size: 1.3rem;
    color: whitesmoke;
}
.home-img, .profile-img, .message-img, .history-img, .task-img, .communities-img {
    display: flex;
    align-items: center;
    gap: 10px;
}
.home-img p, .profile-img p, .message-img p, .history-img p, .task-img p, .communities-img p {
    color: whitesmoke;
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
}
.setting-img, .support-img, .privacy-img {
    display: flex;
    align-items: center;
    gap: 10px;
}
.setting-img p, .support-img p, .privacy-img p {
    color: whitesmoke;
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
}
.main {
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-row: 1/ span 1;
    background-color: skyblue;
    border: 2px solid white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* soft shadow */
    padding: 1rem;
}
.header {
    display: grid;
    grid-template-rows: 1fr 2fr;
    background-color: #F9FAFB;
}
.first-row {
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-content: start;
}
.left-wing img {
    width: 30px;
    display: block;
}
.left-wing {
    display: flex;
    align-items: center;
    gap: 5px;
}
.search-details {
    display: flex;
    align-items: center;
}
input[type="text"] {
    padding: 10px 20px;
    box-shadow: 1px 1px 2px rgba(255, 255, 255 0.6);
    border-radius: 10px;
    width: 90%;
    border: 1px solid #333; 
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif;
}
.right-wing {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    margin-right: 20px;
}
.bell-img img, .cat-img img {
    width: 30px;
    display: block;
}
.bell-img, .cat-img, .right-text {
    display: flex;
    align-items: center;
    justify-content: start;
}
.right-text p {
     font-size: 1.2rem;
     font-family: "Roboto", sans-serif;
     color: #333;
}
.second-row {
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.first-part {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-right: 20px;
}
#cat-img {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: start;
}
#cat-img img {
    width: 40px;
    display: block;
}
.button-div {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-around;
}
.button-div button {
    padding: 10px 20px;
    width: 100px;
    border-radius: 10px;
    height: 40px;
    background-color: skyblue;
}
.button-div button p {
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
}
.main-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.project {
    display: grid;
    grid-template-rows: 1fr 2fr 2fr 2fr;
    margin-bottom: 20px;
}
.main-row {
    display: grid;
    justify-content: stretch;
}
.project-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1 / span ;
    justify-content: stretch;
}
.card-row-icon img {
    width: 30px;
}
.card-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
    border: 2px solid white;
    border-radius: 12px;      /* smooth rounded corners */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* soft shadow */
    padding: 1rem;
    background-color: #fff;
    border-left-color: gold;
}
.card-row-icon {
    display: flex;
    justify-content: end;
    gap: 10px;
}
.project h2 {
    font-family: "Roboto", sans-serif;
    font-size: 1.4rem;
}
.card-row h3 {
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    text-align: center;
}
.card-row p {
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    text-align: center;
}
.siderow {
    display: grid;
    justify-items:center;
}
.side-up {
    display: grid;
    grid-template-rows: 1fr 4fr;
    margin-right: 20px;
    margin-left: 20px;
}

.first-side {
    display: grid;
    grid-template-rows:  1fr 1fr 1fr;
    border: 2px solid white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* soft shadow */
    padding: 1rem;
    background-color: #fff;
    row-gap: 10px;
    margin-top: 120px;
}
.site-div, .community-div {
    display: flex;
    flex-direction: column;
    border-bottom: 2px dotted black;
    gap: 10px;
}
.site-div h4, .community-div h4, .update-div h4 {
    font-family: "Roboto", sans-serif;
}
.site-div p, .community-div p, .update div p {
    font-size: 1rem;
    font-family: "Roboto", sans-serif;

}
.update div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.side-down {
    display: grid;
    grid-template-rows: 1fr 4fr;
    margin-left: 20px;                     
    /* margin-top: 80px; */
}
.side-down h3, .side-row h3 {
    font-size: 1.3rem;
    font-family: "Roboto", sans-serif;
}
.side-down-content {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin-right: 20px;
    border: 2px solid white;
    border-radius: 12px;      /* smooth rounded corners */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* soft shadow */
    padding: 1rem;
    background-color: #fff;
}
.side-down-content img {
    width: 40px;
}
.tegan-div, .morgan-div, .kendall-div, .alex-div {
    display: flex;
    align-items: center;
    gap: 10px;
}
.tegan-text, .morgan-text, .kendall-text, .alex-text {
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.tegan-text p, .morgan-text p, .kendall-text p, .alex-text p {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
}