* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
a {
    color: inherit;
    text-decoration: none;
}
.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto;
    justify-self: center;
    align-self: center;
}
.container div {
    /* border: 1px solid blue;
    padding: 15px; */
}
.container p {
    color: whitesmoke;
}
.sidebar {
    display: grid;
    grid-row: 1 / span 3;
    justify-content: start;
    background-color: skyblue;
}
.sidebar p {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
}
.dashboard {
    display: grid;
    justify-items: start;
}
.dashboard div img {
    width: 40px;
    display: block;
    height: 60px;
}
.d-img {
    display: flex;
    align-items: center;
    justify-items: start;
    gap: 4px;
}
.dashboard div p {
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
}
.home-navbar {
    display: grid;
     align-items: center;
     justify-items: start;  
}
.last-navbar {
    display: grid;
    align-content: center;
    justify-content: start;
     row-gap: 5px;
}
.img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.img img {
    /* border: 1px solid blue; */
    width: 30px;
    display: block;
}
.main-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-row: 2 / span 2;
}
.icon img {
    width: 20px;
    display: block;
}
.project {
    display: flex;
    flex-direction: column;
}
.row1, .row2, .row3 {
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    display: flex;
    flex-basis: auto;
    gap: 20px;
}
.text p {
    color: #333;
    font-size: 1rem;
}
.text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
}
.icon {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}
.one, .two {
    display: grid;
    grid-template-rows: 2fr 1fr;
    border: 2px solid white;
    border-radius: 12px;      /* smooth rounded corners */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* soft shadow */
    padding: 1rem;
    background-color: #fff;
    border-left-color: yellow;
}
.project h3 {
    font-size: 1.4rem;
    font-family: "Roboto", sans-serif;
}
.project {
    display: grid;
}
.last-part  {
    display: grid;
    row-gap: 10px;
}
.annoucement {
    display: grid;
    justify-items:
}
.annouce-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.annouce-content h3 {
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
}
.inner-content {
    display: flex;
    flex-direction: column;
}
.contents {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 10px;
    padding: 1rem;
}
.contents p {
    color: #333;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    border-bottom: 1px solid #fff;
}
.contents h4 {
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
}
.listed img {
    width: 40px;
    display: block;
}
.trending {
    display: grid;
}
.trending-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: start;
}
.trending-content h3 {
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
}
.property {
    display: flex;
    flex-direction: column;
}
.listed {
    display: flex;
    gap: 10px;
    justify-content: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #fff;
}
.listed-text   {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 5px;

}
.listed-text a, .listed-text p {
    color: #333;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
}
.listed-text a {
    font-weight: bold;
}
.header {
    display: grid;
    grid-template-rows: 1fr 2fr;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.search img {
    width: 30px;
    display: block;
}
.first-part {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.right-icon img {
    width: 30px;
    display: block;
}
.search {
    display: grid;
    justify-items: stretch;
    align-items: center;
}
.search-img {
    display: flex;
    gap: 20;
    align-items: center;
}
input[type="text"] {
    padding: 10px 20px;
    box-shadow: 1px 1px 2px rgba(255, 255, 255 0.6);
    border-radius: 10px;
    width: 90%;
    border: 1px solid #333; 
    font-size: 1rem;
    font-family: "Roboto" sans-serif;
}
.search-right {
    display: grid;
    /* align-items: start;
    justify-items: center; */
}
.right-icon {
    display: flex;
    gap: 20px;
}
.icon-text p {
    color: #333;
    font-size: 1.3rem;
}
.icon-text {
    display: flex;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}
.second-part {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.first-child img {
    width: 50px;
    display: block;
}
.second-part {
    display: grid;
    align-items: center;
    justify-content: start;
}
.first-child {
    display: flex;
    gap: 15px;
}
.first-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.first-text p {
    color: #333;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}
.second-child {
    display: flex;
    justify-content: space-evenly;
}
.second-child button {
    padding: 10px 20px;
    width: 100px;
    border-radius: 10px;
    height: 40px;
    background-color: skyblue;
}
.second-child button p {
    font-size: 1rem;
    text-align: center;
}
